#footer .footer-top .social-links a {
    background: #c98f45;
}

#footer .footer-top .social-links a:hover {
    background: #e98502;
}

.back-to-top {
    background-color: #c98f45;
}

.back-to-top:hover {
    background-color: #e98502;
}

.pricing .recommended {
    border-color: #555;
}

.pricing .recommended-badge {
    background: #ffc107;
    color: #444;
}

.pricing .recommended .btn-buy {
    background: #ffc107;
}

.pricing .box .btn-buy {
    border: #ffc107;
    color: #444;

}

.pricing .recommended .btn-buy:hover {
    background: #e98502;
}

.why-us .modulos_list span {
    color: #ffc107;
}

.why-us .accordion-list .modulos_list {
    color: #555;
}

.carousel-control-prev-icon {
    fill: #ffc107;
}

.carousel-inner .carousel-caption .d-none .d-md-block h5 {
    color: #ffc107!important;
}

.featured .nav-link.active h4 {
    color: #ffc154;
}

.featured .nav-link:hover h4 {
    color: #c98f45
}

.faq .faq-list a.collapsed:hover {
    color: #ffc154;
}

.faq .faq-list a {
    color: #c98f45;   
}

.services .icon-box i {
    color: #ffc154;
}