#footer .footer-top .social-links a {
    background: #c98f45;
}

#footer .footer-top .social-links a:hover {
    background: #e98502;
}

.back-to-top {
    background-color: #c98f45;
}

.back-to-top:hover {
    background-color: #e98502;
}

.pricing .recommended {
    border-color: #555;
}

.pricing .recommended-badge {
    background: #ebc99d;
    color: #333;
}

.pricing .recommended .btn-buy {
    background: #c98f45;
}

.pricing .box .btn-buy {
    border: #c98f45;

}

.pricing .recommended .btn-buy:hover {
    background: #e98502;
}